---
title: I deployed a thing on Netlify!
layout: layouts/base.njk
---

<h2 id="get-yours">Get your own</h2>
<p>
  Oh hi! Admiring this site that {% if details.name %}{{ details.name }}{% else %}I{% endif %} deployed at {{ details.event }}? Well, you can get one too.
</p>
<p>
  To deploy your own copy of this site, just click the button below and follow the instructions.
</p>
<p>
  <a href="https://app.netlify.com/start/deploy?repository=https://github.com/philhawksworth/demo-at-fey">
    <img src="https://www.netlify.com/img/deploy/button.svg" alt="Deploy to Netlify">
  </a>
</p>

<h2>Deploy and then what?</h2>
<p>
  Try out a few more of the things that you can do with this once you've deployed to Netlify.
</p>

<ol>
  <li><a href="/next-steps/#add-your-name">Add your name</a></li>
  <li><a href="/next-steps/#deploy-preview">Create a deploy preview</a></li>
  <li><a href="/next-steps/#form">Add a form</a></li>
  <li><a href="/next-steps/#redirects">Define redirect rules</a></li>
  <li><a href="/next-steps/#functions">Deploy a serverless function</a></li>
</ol>

{% if form.submissions %}
<hr>
{% for item in form.submissions %}
  <p><b>{{ item.data.name }} </b> says: {{ item.data.message }}</p>
{% endfor %}
{% endif %}

